<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>eLEARNING - eLearning</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static',filename='/lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static',filename='/css/bootstrap.min.css')}}" rel="stylesheet">

    
    <!-- Template Stylesheet -->
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
</head>

<body>
    
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                          <a href="/course_add" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px;;">Add Courses</a>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="container">
        <table class="table table-bordered">
            <thead>
              <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Course Code</th>
                <th scope="col">Duration</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>

              {% for courses in course %}
              
                <tr>
                  
                  <td>{{courses.course_name}}</td>
                  <td>{{courses.course_code}}</td>
                  <td>{{courses.duration}}</td>
                  <td><a href="/students_registered/{{courses.course_id}}" class="btn btn-primary">Registered Students</a></td>
                  <td><a href="/course_delete/{{courses.course_id}}" class="btn btn-primary">Delete</a></td>

                </tr>
              {% endfor %}
              
            </tbody>
          </table>
    
    </div>
    
    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    
    <!-- Template Javascript -->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>

</html>